<h1>Enter your username and password</h1>
<div id="output"></div>
u: <input type='text' id='username'>
p: <input type='password' id='password'>
d: <input type='text' id='domain'>

<button id="import">Import</button>

<script type="text/javascript">

(function() {

  console.log('executed coffeescript');

  $(function() {
    var apikey, box, user, _ref;
    _ref = [window.user, window.apikey, window.box], user = _ref[0], apikey = _ref[1], box = _ref[2];
    $('#domain').val('scraperwiki.highrisehq.com');
    return $('#import').on('click', function() {
      var cmd, domain, pwd;
      user = $('#username').val();
      pwd = $('#password').val();
      domain = $('#domain').val();
      cmd = "cd ~/highrise; ./setup  " + user + " " + pwd + " " + domain;
      return $.ajax({
        url: "http://boxecutor-dev-1.scraperwiki.net/" + user + "/" + box + "/exec",
        type: 'POST',
        data: {
          apikey: apikey,
          cmd: cmd
        },
        success: function(text) {
          return $('#output').text(text);
        },
        error: function(jqXHR, textStatus, errorThrown) {
          return console.log(jqXHR.responseText);
        }
      });
    });
  });

}).call(this);
</script>
