<div id="highrise-setup" style="margin: 0px auto; width: 500px">

<h2 style="text-align: center">Enter your username and password</h2>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="username">Username</label>
    <div class="controls">
      <input type="text" id="username">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" id="password">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="domain">Highrise URL</label>
    <div class="controls">
      <input type="text" id="domain" value="scraperwiki.highrisehq.com">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary" id="import">Import my data!</button>
    </div>
  </div>
</form>

</div>

<script type="text/javascript">
(function() {

  $(function() {
    var apikey, boxname, boxurl, org, prj, _ref;
    _ref = [window.user, window.apikey, window.box], org = _ref[0], apikey = _ref[1], prj = _ref[2];
    boxname = "" + org + "/" + prj;
    boxurl = "http://boxecutor-dev-1.scraperwiki.net/" + boxname;
    return $('#import').on('click', function() {
      var cmd, hr_domain, hr_pwd, hr_user,
        _this = this;
      hr_user = $('#username').val();
      hr_pwd = $('#password').val();
      hr_domain = $('#domain').val();
      cmd = "cd ~/highrise; ./setup  " + hr_user + " " + hr_pwd + " " + hr_domain;
      $(this).attr('disabled', true);
      $(this).addClass('loading');
      $(this).html('Importing&hellip;');
      return $.ajax({
        url: "" + boxurl + "/exec",
        type: 'POST',
        data: {
          apikey: apikey,
          cmd: cmd
        },
        success: function(text) {
          var data;
          data = JSON.parse(String(text));
          if (data.error === '') {
            $.ajax({
              url: "" + boxurl + "/exec",
              type: 'POST',
              data: {
                apikey: apikey,
                cmd: "cat ~/scraperwiki.json"
              },
              success: function(data) {
                data = JSON.parse(String(data))
                var boxPublishToken;
                boxPublishToken = data.publish_token;
                return $('#content').html("<iframe src=\"" + boxurl + "/" + boxPublishToken + "/http/spreadsheet-tool/\"></iframe>");
              }
            });
            return $.cookie('datasets', JSON.stringify({
              highrise: {
                box: "" + boxname
              }
            }, {
              path: '/'
            }));
          } else {
            $('#highrise-setup .alert').remove();
            $('#highrise-setup').prepend("<div class=\"alert alert-error\">\n  <strong>Oh noes!</strong> " + data.error + "\n</div>");
            $(_this).attr('disabled', false);
            return $(_this).removeClass('loading');
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          $(_this).attr('disabled', false);
          $(_this).removeClass('loading');
          return $('#highrise-setup').prepend('<div class="alert alert-error"><strong>On noes!</strong> ' + jqXHR.responseText);
        }
      });
    });
  });

}).call(this);
</script>
